<!-- <p>Power Pipe (3, 2): {{3 | powerPipe : 2 : 3: 6}}</p> 
<p>Empty Pipe([]): {{[] | emptyPipe}}</p>
<p>Empty Pipe([1,2,3]): {{[1,2,3] | emptyPipe}}</p>
<p>Default Pipe (2): {{2 | defaultPipe:'default'}}</p>
<p>Default Pipe (''): {{'' | defaultPipe:'default'}}</p> -->
<!-- <p>Uppercase Pipe (test): {{'test2' | uppercase1}}</p>  -->
<!-- <input type="text" [(ngModel)]="test" (keydown.enter)="prints()"> -->
<!-- <p [ngClass]="'test'" [ngStyle]="{'color': 'blue'}" >{{test}}</p> -->
<!-- <p [appHighlight]="''" defaultColor="violet">Directive</p> -->
<!-- <div type="text" [appHighlight]="''" defaultColor="violet">Directive</div> -->
<!-- <p *appAppUnless="condition">Show</p> -->
<!-- <div *appDelayRendering="1000"> -->
<!-- <h1>this is the template area</h1> -->
<!-- </div> -->
<!-- <router-outlet></router-outlet> -->
<!-- [ngClass]="'test'" -->

<!-- <div>Text1
    <span class="text1">Text1</span>
</div>
<p class="text2">Text2</p>
<p class="text3">Text3</p>
<p class="text4">Text4</p>
<p class="text5">Text5</p>
<p class="text6">Text6</p>
<p class="text7">Text7</p>
<p class="text8">Text8</p>
<p class="text9">Text9</p> -->

<!-- <app-search></app-search> -->

<!-- <app-horizontal-bar></app-horizontal-bar> -->

<app-vertical-bar></app-vertical-bar>