<div class="main_filter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4 lef_sidebar">
                <div class="checkbox_sec">
                    <form action="">
                        <div>
                            <div class="margin-bottom-xxs">
                                <input type="radio" value="oui" id="radio-id-oui" name="radio-ouinon" />
                                <label for="radio-id-oui">Oui</label>
                            </div>
                            <div class="margin-bottom-xxs">
                                <input type="radio" value="non" id="radio-id-non" name="radio-ouinon" />
                                <label for="radio-id-non">Non</label>
                            </div>
                        </div>
                    </form>
                    <div class="new">
                        <form>
                            <div class="form-group">
                                <input type="checkbox" id="html">
                                <label for="html">HTML</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="css">
                                <label for="css">CSS</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="javascript">
                                <label for="javascript">Javascript</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 main_sec">
              <h2>Hi Sri Hari</h2>
            </div>
        </div>
    </div>
</div>